﻿@model PagedList.IPagedList<der_scrof.Models.Empresa>
@{
    ViewBag.Title = "Empresas";
}


@Html.Partial("_IndexHeader")
@Html.Partial("_AlertMessage")

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th class="">#</th>
        <th class="">CNPJ/CPF</th>
        <th class="">Razão Social</th>
        <th class="span1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CNPJ_CPF</td>
            <td>@item.RazaoSocial <span class="label ">Pendências @item.Pendencia.Where(c => c.Active == true && c.SituacaoId == 1).Count()</span></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-small btn-success" href="Empresa/Editar/@item.Id" title="Editar Empresa"><i class="  icon-edit icon-white"></i></a>
                    <a class="btn btn-small" href="Empresa/Editar/@item.Id#formPendencias" title="Adicionar Pendência"><i class="icon-tags"></i></a>
                </div>
            </td>
        </tr>
    }
</table>

@Html.Partial("_Pagination")
