﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Certificado</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/relatorio.css")
    <link rel="stylesheet" type="text/css" href="~/Content/print.css" media="print" />
</head>
<body>
    <div class="container">
        <div class="form-actions">
            @Html.ActionLink("Voltar", "Consultar", "Certificado", null, new { @class = "btn pull-right btn-voltar" })
            <button type="button" class="btn btn-print btn-primary pull-left" onclick="window.print();"><i class="icon-print icon-white"></i>Imprimir</button>
        </div>
        
        <div id="print">
            <div class="row">
                <div class="span12 texto-centro">

                    <img src="~/Images/brasao_estado.jpg" class="imagem" /><br />
                    <small>GOVERNO DO ESTADO DE RONDÔNIA<br />
                        @*Departamento de Estradas de Rodagem e Transportes – DER/RO*@</small>
                </div>
            </div>
            <div class="row">
                <div class="span12 texto-centro margem-media">
                    <h4>C.R.O.F  - Certificado de Regularidade de Obras e Fornecimentos</h4>
                </div>
            </div>
            <div class="row-fluid margem-pequena">
                <div class="span6">
                    <strong>Finalidade:</strong> Cadastramento e Habilitação para Licitação Pública 
                </div>
                <div class="span2">
                    <strong>Validade:</strong> @ViewBag.Validade
                </div>
                <div class="span4">
                    <strong>CROF No. :</strong> @ViewBag.NumeroCertificado
                </div>
            </div>

            <div class="row-fluid margem-grande">
                <div class="span12 texto-justificado">
                    O Diretor do Departamento de Obras e Serviços Públicos do Estado de Rondônia - DEOSP/RO e 
                Departamento de Estradas de Rodagem e  Transportes do Estado de Rondônia – DER/RO, usando 
                das Atribuições que lhe confere a lei complementar No. 336 de 31/01/2006, Decreto  No. 
                12800 de 19/04/2007 e Lei 335 de 31/01/2006  certifica para os devidos fins que: 
                </div>
            </div>

            <div class="row-fluid margem-grande">
                <div class="span12 texto-justificado">
                    A Empresa @ViewBag.RazaoSocial  CNPJ: @ViewBag.CNPJ e Insc. Estadual: @ViewBag.IE
                    domiciliada a @ViewBag.Rua - @ViewBag.Bairro   Cidade: @ViewBag.Cidade/@ViewBag.UF
                    encontra-se <strong>REGULAR</strong> perante os órgãos DER/RO e DEOSP/RO
                </div>
            </div>

            <div class="row-fluid margem-grande">
                <div class="span12 texto-justificado">
                    Obs.:  É ato obrigatório à pessoa jurídica manter devidamente atualizada a documentação 
                necessária para emissão do CROF, sob pena de suspensão do mesmo até que promova sua 
                regularização. (3º paragrafo do art. 2º, do decreto No. 12.800/2007).  
                </div>
            </div>

            <div class="row margem-supergrande">
                <div class="span5 pull-right ">
                    <p class="pull-right">Porto Velho, @ViewBag.DataHoje.</p>
                </div>
            </div>

           @* <div class="row margem-supergrande">
                <div class="span4"></div>
                <div class="span4 texto-centro assinatura">
                    <p><strong>Diretor Geral DER/RO e DEOSP/RO</strong></p>
                </div>
                <div class="span4"></div>
            </div>*@

            <div class="row margem-supergrande">
                <div class="span12 texto-centro">
                    <small>Rua: Pio XII s/n – Esplanada das Secretarias  - Pedrinhas<br />
                        Cep. 78.904-070 – Porto Velho - RO<br />
                        Fone: (69) 3216.5936 - fax:(69) 3216 – 5933</small>
                </div>
            </div>
        </div>
    </div>
</body>
</html>