﻿@model der_scrof.Models.Empresa
@{
    ViewBag.Title = "Consultar";
}

<h2>Consultar</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <div class="span2">
                @Html.LabelFor(model => model.CNPJ_CPF)<br />
                <div class="input-prepend">

                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tipo-mascara-cpf">
                            <li><a href="#" data-mascara="999.999.999-99">CPF</a></li>
                            <li><a href="#" data-mascara="99.999.999/9999-99">CNPJ</a></li>
                        </ul>
                    </div>
                    <div class="input-append">
                        @Html.TextBox("CNPJ_CPF", TempData["CNPJ_CPF"] != "" ? TempData["CNPJ_CPF"] : Model.CNPJ_CPF, new { @class = "span3 cnpj txt-cpf-cnpj" })
                        <button type="submit" class="btn btn-success"><i class=" icon-search icon-white"></i>&nbspEmitir Certificado</button>
                    </div>
                </div>
            </div>
        </div>
         
    }
</div>
<script>
    $(document).ready(function () {
        $('#CNPJ_CPF').focus();
    });
</script>
