﻿@model der_scrof.Models.Certificado
@{
    ViewBag.Title = "Validar";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="form-inline">
            <div class="span2">
                @Html.LabelFor(model => model.Empresa.CNPJ_CPF)<br />
                <div class="input-prepend">

                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu tipo-mascara-cpf">
                            <li><a href="#" data-mascara="999.999.999-99">CPF</a></li>
                            <li><a href="#" data-mascara="99.999.999/9999-99">CNPJ</a></li>
                        </ul>
                    </div>
                    @Html.TextBox("CNPJ_CPF", TempData["CNPJ_CPF"] != "" ? TempData["CNPJ_CPF"] : Model.Empresa.CNPJ_CPF, new { @class = "span3 cnpj txt-cpf-cnpj" })
                </div>

            </div>

            <div class="span4">
                @Html.Label("Número do certificado")
                <div class="input-append">
                    @Html.TextBox("NumeroCertificado", TempData["NumeroCertificado"] != "" ? TempData["NumeroCertificado"] : Model.NumeroCertificado, new { @class = "span3 numero-certificado" })
                    <button type="submit" class="btn btn-success"><i class=" icon-search icon-white"></i>&nbspValidar Certidão</button>
                </div>
            </div>
        </div>
    }
</div>
@if (!string.IsNullOrEmpty(ViewBag.Mensagem))
{
    <div class="row">
        <br />
        <div class="span12">
            <div class="alert @ViewBag.tipo">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Atenção!</strong> @ViewBag.Mensagem
            </div>
        </div>
    </div>    
}
<script>
    $(document).ready(function () {
        $('#CNPJ_CPF').focus();
    });
</script>
