﻿@model PagedList.IPagedList<der_scrof.Models.Engenheiro>
@{
    ViewBag.Title = "Engenheiros";
}

@Html.Partial("_IndexHeader")
@Html.Partial("_AlertMessage")

<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Nome</th>
        <th class="span2">CREA</th>
        <th class="span2">Visto</th>
        <th class="span1">Ativo?</th>
        <th class="span1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Pessoa.Nome) <span class="label ">Pendências @item.Pessoa.Pendencia.Where(c => c.Active == true && c.SituacaoId == 1).Count()</span></td>
            <td>@Html.DisplayFor(modelItem => item.CREA)</td>
            <td>@Html.DisplayFor(modelItem => item.Visto)</td>
            <td>@Html.DisplayFor(modelItem => item.Active)</td>
            <td>
                <a class="btn btn-small" href="Engenheiro/Pendencias/@item.Id" title="Adicionar Pendência"><i class="icon-tags"></i></a>
            </td>
        </tr>
    }
</table>
@Html.Partial("_Pagination")

<script>
    $(document).ready(function () {
    }); // END $(document)
</script>
