﻿@model der_scrof.Models.UsuarioLogin

@{
    ViewBag.Title = "Autenticação";
}

<h1>@ViewBag.Title</h1>
<hr />

@if (TempData["AlertMessage"] != null)
{
    @Html.Partial("_Alert", new ViewDataDictionary { { "alertClass", TempData["AlertClass"]}, {"message", TempData["AlertMessage"]} })
}

@using(Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <div class="row">
        <div class="span4">
            <div class="row">    
                <div class="span3">
                    @Html.LabelFor(model => model.MATRICULA)
                    @Html.TextBoxFor(model => model.MATRICULA, new { @class = "span2 matricula" })
                </div>
            </div>
            <div class="row">
                <div class="span2">
                    @Html.LabelFor(model => model.SENHA)
                    @Html.PasswordFor(model => model.SENHA, new { @class = "span2"})
                </div>    
                <div class="span1">
                    <br />
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#MATRICULA').focus();
    });
</script>