﻿<div class="">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                @Html.ActionLink("CISNAD", "Index", "Home", null, new { @class = "brand", title = "Sistema de Regularização de Obras e Fornecedores" })

                <div class="nav-collapse collapse">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i>Empresas <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Adicionar", "Procurar", "Empresa", null, null)</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Listar", "Index", "Empresa", null, null)</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Listar Engenheiros", "index", "Engenheiro", null, null)</li>
                        </ul>
                        
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Relatórios <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    }

                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i>Certidão <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Consultar Certificado", "Consultar", "Certificado", null, null)</li>

                                <li class="divider"></li>
                                <li>@Html.ActionLink("Validar Certificado", "Validar", "Certificado", null, null)</li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav pull-right">
                        <li class="dropdown">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
