﻿@{
    ViewData["alertClass"] = (ViewData["alertClass"] == null) ? "success" : ViewData["alertClass"];
}
<div class="alert alert-@ViewData["alertClass"]">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @ViewData["message"]
</div>