﻿<div class="row">
    <div class="span6">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="span4 pull-right">
        @*@Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary btn-add" })*@
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline pull-right"}))
        {
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "span2", placeholder = "Buscar" })
            <input type="submit" class="btn" value="Buscar" />
        }
    </div>
</div>
<legend></legend>