﻿@if (Request.IsAuthenticated)
{
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>@User.Identity.Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Perfil", "Perfil", "Usuario", null, null)</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Sair", "Logoff", "Usuario", null, null)</li>
        </ul>
    </li>
}
else
{    
    <li class="active"><a href="@Url.Action("Login", "Usuario", null)" class="bold"><i class="icon-user"></i>Entrar</a></li>
}