﻿<div class="table-pagination">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }, new { @class ="btn btn-small", title = "Primeira Página" })
        @Html.Raw(" ");
        @Html.ActionLink("< Anterior", "Index", new{ page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }, new { @class ="btn btn-small" })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Anterior
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próximo >", "Index", new{ page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }, new { @class ="btn btn-small" })
        @Html.Raw(" ")
        @Html.ActionLink(">>", "Index", new{ page = Model.PageCount, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter }, new { @class ="btn btn-small", title = "Última página" })
    }
    else
    {
        @:Próximo >
        @Html.Raw(" ")
        @:>>
    }
</div>
<br />