﻿body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.upper {
    text-transform: uppercase;
}

.field-validation-error {
    font-size: 80%;
    background-color: #F89406;
    color: #FFF;
    padding: 2px 3px;
    border-radius: 2px;
}

.navbar-fixed-top {
    top: 105px;
    position: static;
}

.bg_header_extenso {
    width: 100%;
    height: 105px;
    background: url("../Images/BgTopoExtenso.gif") repeat-x;
}

.bg_header {
    background: url("../Images/BgTopo.jpg") no-repeat;
    margin: 0 auto;
    width: 940px;
    height: 105px;
    margin-top: -60px;
}

#body {
    margin-top: 20px;
}

.navbar .brand {
    float: left;
    display: block;
    padding: 8px 20px 12px 45px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    background-image: url('../Images/logo-small.gif');
    background-repeat: no-repeat;
    background-position: 20px;
}

.cpf-repetido {
    background-color: #F00 !important;
    color: #FFF !important;
    font-weight: bold;
}

.modal-maior {
    width: 650px !important;
}

.botoes-tabela2 {
    width: 60px !important;
}
.botoes-tabela1 {
    width: 30px !important;
}

.botoes-tabela3 {
    width: 93px !important;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #EEE;
}
